@import "../../styles/variables.scss";

.nav {
  ul {
    display: flex;
    gap: 20px;

    li {
      font-size: $large;
      font-weight: 400;
      cursor: pointer;

      &:active {
        color: $primary-color;
      }

      &:hover {
        color: $dark-color;
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .nav {
    display: none;
  }
}
