@import "../styles/variables.scss";

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;

  .text-content {
    width: 650px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    .subtitle {
      font-size: $large;
    }

    @media screen and (max-width: 736px) {
      .subtitle {
        font-size: $medium;
      }
    }

    .title {
      span {
        color: $primary-color;
      }
    }

    .description {
      font-size: $large;
    }

    .buttons-container {
      display: flex;
      gap: 20px;
    }
  }

  .photo-container {
    width: 400px;
    height: 400px;
    border: 1px $primary-color solid;
    border-radius: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
@media screen and (max-width: 1350px) {
  .hero {
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    .text-content {
      width: 100%;
    }
  }
}
